<body>
    <h1>EXPERIMENT NO. - 7</h1>
    <h2>Object:</h2>
    <p>Determination of the percent water absorption in 24 hours of moulded Plastic samples.</p>
    <h3>Equipment Used: </h3>
    <p>Mettler balance</p>
    <h3>Specimen : </h3>
    <p>Two inch diameter disks, 0.125" or 0.250" thick. </p>
    <h3>Test Method: </h3>
    <p>ASTM D570</p>
    <h3>Scope: </h3>
    <p>Water absorption is used to determine the amount of water absorbed under specified conditions. Factors affecting
        water absorption include: type of plastic, additives used, temperature and length of exposure. The data sheds
        light on the performance of the materials in water or humid environments Some polymers have a natural tendency
        to absorb water. Indeed, superabsorbent polymers are gaining traction in advanced application in medical,
        construction etc., however at the same time, absorption capacity of thermoplastics lead to several changes
        <strong>w.r.t processing and properties.</strong> </p>
    <p><strong>Moisture/water absorption </strong> the capacity of a plastic or a polymer to absorb moisture from its
        environment. Absorbed moisture has been shown to act as a plasticizer, reducing the <u>glass transition
            temperature</u> and strength of plastic – which is a reversible effect. However, absorbed water also can
        lead to irreversible degradation of the polymer structure. Some of the known effects include:Dimensional & mass
        changes (e.g. swelling) caused by water absorption; extraction of water-soluble components and changes in
        mechanical (elasticity, tensile strength, impact strength) and electrical performance</p>
    <h3>Procedure:</h3>

    <ul>
        <li>For the water absorption test, the specimens are dried in an oven for a specified time and temperature and
            then placed in a desiccator to cool. </li>
        <li>Immediately upon cooling the specimens are weighed. </li>
        <li>The material is then emerged in water at agreed upon conditions, often 23°C for 24 hours or until
            equilibrium. </li>
        <li>By finding increase in weight the % water absorption is tested.</li>

    </ul>

    <h3>Result: </h3>
    <p>The percentage of water absorption is ------------</p>
</body>