<div class="body">
    <h1><strong>EXPERIMENT NO. 5</strong></h1>
    <h3 class="subHead"><strong>Object:</strong></h3>
    <p>Determination of melt flow index of polymer material.</p>
    <h3 class="subHead"><strong>Equipment:</strong></h3>
    <p>M F I Tester </p>
    <h3 class="subHead"><strong>Specification:</strong></h3>
    <p>ASTM D 1525.</p>
    <h3 class="subHead"><strong>Significance:</strong></h3>
    <P>The <em>melt flow index (MFI)</em> or <em>melt flow rate (MFR)</em> a measure for the ease
        of flow of melted plastics. It is often used in the plastic industry for quality control of
        thermoplastics. The method is described in the standards ASTM D1238 and ISO 1133.
        The <em>melt flow indexer</em> is the most popular device in the plastic industry to determine
        material viscosities and is often used to test batch-to-batch consistency. However, it is also
        the least accurate method. A small sample of about 5 grams is heated above its melting or
        softening point and forced to flow through a capillary using a piston actuated by a specified
        weight, usually 2.16 kg or 5 kg. The weight of melt in grams flowing through the capillary
        in 10 minutes is the melt flow index.</P><br>
    <img src="https://polymerdatabase.com/polymer%20physics/images/Melt%20Flow%20Indexer.png"
        alt="melt flow indexer"><br>

    <p> In general, a higher MFI indicates a lower material viscosity, and when comparing
        polymers of the same class, a lower melt flow rate corresponds to a higher molecular
        weight and/or less branching.
    </p>
    <h3 class="subHead"><strong>Procedure:</strong></h3>
    <ul>
        <li>A small amount of the polymer sample (around 4 to 5 grams) is taken in the specially designed MFI apparatus.
            A die with an opening of typically around 2 mm diameter is inserted into the apparatus.</li>
        <li>The material is packed properly inside the barrel to avoid formation of air pockets.</li>
        <li>A piston is introduced which acts as the medium that causes extrusion of the molten polymer.</li>
        <li>The sample is preheated for a specified amount of time: 5 min at 190<sup>°</sup>C for polyethylene and 6 min
            at 230 <sup>°</sup> for polypropylene.</li>
        <li>The weight exerts a force on the molten polymer and it immediately starts flowing through the die.</li>
        <li>A sample of the melt is taken after the desired period of time and is weighed accurately.</li>
        <li>MFI is expressed in grams of polymer per 10 minutes of duration of the test.</li>


    </ul>
    <h3 class="subHead"><strong>Results:</strong></h3>
    <p>The Melt Flow Index of the given polymer sample is -------------<sup>0</sup>C </p>


    <h3 class="subHead"><strong>Videos</strong></h3>
   <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe  width="720" height="400"  src="https://www.youtube.com/embed/fj3rDEPpkdc" allowfullscreen frameborder="0"></iframe>
        </div>
   </div>

</div>