<div class="body">
    <h1><strong>EXPERIMENT NO. - 8</strong></h1>
    <h3 class="subHead"><strong>Object:</strong> </h3>
    <p>Determination of Impact Strength of a Polymer Film by Falling Dart Impact Taster</p>
    <h3 class="subHead"><strong>Test Method :</strong></h3>
    <p>As per IS-2508-1984, ASTM D1709, ISO 7765-1</p>
    <h3 class="subHead"><strong>Specimen:</strong> </h3>
    <p>Film samples that can be cut to 230 mm x 230 mm (9" x 9") specimens A minimum of 30 specimens are required for
        the test </p>
    <h3 class="subHead"><strong>Scope: </strong></h3>
    <p>Falling dart impact is a traditional method for evaluating the impact strength or toughness of a plastic film.
        This test uses a single dart configuration and a single drop height, while varying the weight of the dart. Test
        results can be used either as a quality control evaluation or for end use comparisons.</p>
    <h3 class="subHead"><strong>Procedure:</strong> </h3>

    <ul>
        <li>Measure the thickness of the film in Microns and decide the Impact Loads as per IS Table.</li>
        <li>Take 10 samples of 10x10 inch sized and clamp the test specimen securely in a pneumatic ring at the base of
            the drop tower. The mounting bracket is adjusted to the appropriate drop height, and the dart is inserted
            into the bracket. </li>
        <li>Create the Vacuum and release the dart onto the center of the test specimen from the distance fixed as per
            IS.</li>
        <li>Observe the sample for failure and repeat the rest 9 samples for same load.</li>
        <li>Calculate the number of failures per 10 samples e.g. 8 pass /2 fail.</li>
        <li>Repeat for another 10 samples for load higher to previous one.</li>
        <li>Report the Load in Grams at which 50 % samples fail.</li>

    </ul>
    <h3 class="subHead"><strong>Result:</strong> </h3>
    <p>The falling dart impact strength of given plastic film is ---------</p>


    <h3 class="subHead"><strong>Videos</strong></h3>
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe  width="720" height="400"  src="https://www.youtube.com/embed/gOoItehUeck" allowfullscreen frameborder="0"></iframe>
        </div>
    </div>
</div>