<div class="body">
    <h1><strong>EXPERIMENT NO. 4</strong></h1>
    <h3 class="subHead"><strong>Object:</strong></h3>
    <p>Determination of Izod/ charpy Impact Strength of given plastic sample</p>
    <h3 class="subHead"><strong>Equipment:</strong></h3>
    <p>Izod Impact Tester </p>
    <h3 class="subHead"><strong>Test Method: </strong></h3>
    <p>ASTM D256 or ISO 180</p>
    <h3 class="subHead"><strong>Specimen:</strong></h3>
    <p>Sample thickness is usually 1/8 in. (3.2 mm) but may be up to 1/2 in. (12.3 mm). </p>
    <h3 class="subHead"><strong>Significance:</strong></h3>
    <p>A pendulum swings on its track and strikes a notched, cantilevered plastic sample. The energy lost (required to
        break the sample) as the pedulum continues on its path is measured from the distance of its follow through. The
        impact value of the material is determined from the energy required to break the specimen. The impact value can
        be used as a rule of thumb for determining the load bearing capacity of a material against momentary stress from
        impact strength and fracture energy. The higher the impact value of a material is, the higher the toughness or
        tenacity of the material is. The result of the Izod test is reported in energy lost per unit of specimen
        thickness (such as ft-lb/in or J/cm) at the notch. Polymeric materials that are sensitive to the stress
        concentrations at the notch ('notch-sensitive') will perform poorly in the notched izod test. Engineers use this
        knowledge to avoid using such polymers in designs with high stress concentrations such as sharp corners or
        cutouts. Unnotched specimens are also frequently tested via the Izod impact method to give a more complete
        understanding of impact resistance. Izod impact tests are commonly run at low temperatures - down to
        -40<sup>0</sup>F (-40<sup>0</sup>C) or occasionally lower - to help gauge the impact resistance of plastics used
        in cold environments.</p>
    <h3 class="subHead"><strong>Procedure:</strong></h3>
    <ul>
        <li>Sample is clamped in the base of pendulum testing machine so that it is cantilevered upward in notch facing
            the direction of impact.</li>
        <li>Pendulum is released and the force consumed in breaking the sample is calculated from the height. the
            pendulum reaches on the follow through.</li>
        <li>Impact load is reported as Kg/ inch of notch.</li>

    </ul>
    <table class="table" style="margin-top: 40px; margin-bottom: 40px;">
        <thead class="table">
                <th>Testing method</th>
                <th>Testable ranges</th>
                <th>Test specimen</th>
                <th>Data to be obtained</th>
                <th>Corresponding standards</th>
        </thead>
       
        <tbody class="tbody">
            <tr>
                <td>Charpy impact</td>
                <td><strong>Hammer capacity:</strong><br>
                    0.5,1,2,4,7.5,15J<br>
                    <strong> Test temp.:</strong> <br>-40 - 150℃<br>
                    <strong>Impact speed：</strong><br>0.5～4J 　2.9(±5%)m/sec<br>
                    7.5J、15J　3.8(±5%)m/sec
                </td>
                <td>80.0±2×10.0±.02×4.0±0.2mmt<br>n=5</td>
                <td>Fracture energy〔J〕<br>Impact strength(kJ/m<sup>2</sup>)</td>
                <td>JIS K7111-1<br>
                    (ISO 179-1)<br>
                    JIS K6745<br>
                    JIS K6911<br>
                </td>
            </tr>
            <tr>
                <td>Izod impact</td>
                <td><strong>Hammer capacity:</strong><br>1,2.75,5.5J<br>40,80,150kg・cm<br><strong>Test
                        temp.:</strong><br>-40 - 150℃<br><strong>Impact speed:</strong>3.5(±10%)m/sec</td>
                <td>80.0±2×10.0±0.2×4.0±0.2mmt<br>
                    63.5±0.5×12.7±0.1×2 - 13mmt<br>
                    n=5
                </td>
                <td>Fracture energy〔J〕<br>
                    Impact strength〔J/m、kJ/m<sup>2</sup>〕
                </td>
                <td>JIS K7110<br>(ISO 180)<br>ASTM D256
                </td>
                
            </tr>
    
        </tbody>
       
    </table>
    <img src="https://www.mcanac.co.jp/en/_images/service/detail/6a002/6a002-1.jpg?20180731"
        alt="charpy impact test>" />
    <br>
    <p>A test specimen having a V-shaped notch is placed on the holder in such position that the notched section
        is in the center of the holder, and the specimen is broken by striking the back of the notched section
        with the hammer. The fracture energy is determined from the swing-up angle of the hammer and its
        swing-down angle. The Charpy impact value (kJ/m<sup>2</sup>) is calculated by dividing the fracture
        energy by the cross-section area of the specimen.</p>
    <br>
    <img src="https://www.mcanac.co.jp/en/_images/service/detail/6a002/6a002-2.jpg?20180731" alt="izod impact test" />
    <h3 class="subHead"><strong>Results:</strong> </h3>
    <p>The of given Izod/charpy Impact Strength plastic sample is -------------J/m </p>


    <h3 class="subHead"><strong>Videos</strong></h3>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe  width="720" height="400"  src="https://www.youtube.com/embed/8569DRczGj8" allowfullscreen frameborder="0"></iframe>
    </div>

</div>