<div class="body">
    <h1><strong>EXPERIMENT NO. - 6</strong></h1>
    <h3 class="subHead"><strong>Object:</strong></h3>
    <p>Determination of Shore A Hardness of given Rubber Sheet</p>
    <h3 class="subHead"><strong>Equipment:</strong></h3>
    <p>Shore A Durometer </p>
    <h3 class="subHead"><strong>Test Method:</strong></h3>
    <p>ASTM D2240 00, ISO 7619 and ISO 868</p>
    <h3 class="subHead"><strong>Significance:</strong></h3>
    <p>The hardness of rubbers is most commonly measured by the Shore A Durometer test. The durometer measures the
        resistance of rubbers toward indentation and provide an empirical hardness value and is the preferred method for
        rubbers/elastomers and is also commonly used for 'softer' plastics such as polyolefins, fluoropolymers, and
        vinyls. The Shore A scale is used for 'softer' rubbers while the Shore D scale is used for 'harder' ones. The
        hardness value is determined by the penetration of the Durometer indenter foot into the sample. Because of the
        resilience of rubbers and plastics, the indentation reading my change over time - so the indentation time is
        sometimes reported along with the hardness number</p>
    <p>The results obtained from this test are a useful measure of relative resistance to indentation of various grades
        of rubbers. However, the Shore Durometer hardness test does not serve well as a predictor of other properties
        such as strength or resistance to scratches, abrasion, or wear, and should not be used alone for product design
        specifications. Shore hardness is often used as a proxy for flexibility (flexural modulus) for the specification
        of elastomers. The correlation between Shore hardness and flexibility holds for similar materials, especially
        within a series of grades from the same product line, but this is an empirical and not a fundamental
        relationship.</p>
    <h3 class="subHead"><strong>Procedure:</strong></h3>
    <ul>
        <li>Take Shore A Hardness Tester and calibrate with standards.</li>
        <li>Place the 5-10 mm. thick rubber sheet sample on a hard platform.</li>
        <li>By applying the force in a consistent manner, without shock, press the apparatus by placing the needle of
            tester on sample and read the Shore A scale.</li>
        <li>Repeat on several points and take the average.</li>

    </ul>
    <h3 class="subHead"><strong>Result:</strong></h3>
    <p>The average Shore A Hardness of the given sample of rubber sheet is -------.</p>
</div>