<div class="body">
    <div class="col">
        <div class="row">
            <h1 class="title"><strong>Plastic Technology</strong></h1>
        </div>
        <div class="row content">
            <p>The Department of Plastic Technology was established in 1964. At that time B.Sc. Chemical Technology
                degree course of 3-year duration was started. In 1991 the course was upgraded to B. Tech. 4-year degree
                course after 10+2. Besides this, department also offers Doctoral programme in Plastic Technology &
                Applied Chemistry. The curriculum of these programs encompasses latest developments in the field as well
                as present and future needs of the industry.
                The Department has built up a comprehensive research infrastructure with top-notch facilities for
                carrying cutting-edge teaching and research. Constant efforts are being put up to maintain the high
                standards of this department to be ranked as one of the best in India. The Department strives to provide
                its students with facilities and environment that are conducive for creative and dynamic work.
                The Department has contributed by way of paper publications in National/International journals of repute
                and by paper presentations in National/International conferences. The department has run various R&D
                projects sponsored by AICTE, DMSRDE, UPCST etc. It has also undertaken relevant research projects, which
                serves the interest of the industries.
                The Plastic Technology Department is proud of its excellent infrastructure and its role in providing the
                best professionals to the nation. Recently, National Board of Accreditation has accredited the B.Tech.
                Programme in Plastic Technology.</p>
        </div>
        <!-- <div class="row">
            <h3>Faculty</h3>
        </div> -->
    </div>
</div>