<!DOCTYPE html>
<html>
    <body>
        <h1>EXPERIMENT NO. 3</h1>
        <h2>Object:</h2>
        <p>Determination of Tensile Strength and % elongation of plastic specimen of dumbbell</p>
        <h3>Equipment: </h3>
        <p>
            <ul>
                <li>Tensile testing Machine or UTM</li>
                <li>Thickness Gauge</li>
                <li>Vernier calipers</li>

            </ul>
        </p>
        <h3>Test Method:</h3>
        <p>
            ASTM D638 or ISO 527 
        </p>
        <h3>Significance:</h3>
        <p>The ability to resist breaking under tensile stress is one of the most important and widely measured properties of materials used in structural applications. The force per unit area (MPa or psi) required to break a material in such a manner is the ultimate tensile strength or tensile strength at break . The rate at which a sample is pulled apart in the test can range from 0.2 to 20 inches per minute and will influence the results. The test standard to measure tensile properties in the ASTM system is ASTM D638 and in ISO system is ISO 527. </p>
        <h3>Tensile Elongation:</h3>
        <p>The ultimate elongation of an engineering material is the percentage increase in length that occurs before it breaks under tension. Ultimate elongation values of several hundred percent are common for elastomers and film/packaging polyolefins. Rigid plastics, especially fiber reinforced ones, often exhibit values under 5%. The combination of high ultimate tensile strength and high elongation leads to materials of high toughness.</p>
        <h3>Tensile Modulus of Elasticity:</h3>
        <p>The tensile modulus is the ratio of stress to elastic strain in tension. A high tensile modulus means that the material is rigid - more stress is required to produce a given amount of strain. </p>
        <h3> Procedure:</h3>
        <p>
            <ul>
                <li>The dumbbell  sample is taken and its thickness is measured with the help of Vernier calipers in cm.</li>
                <li>Dumbel edges are clamped in fixed and movable grips on Tensile tester.</li>
                <li>Initial length between grip is noted with the help of Vernier calipers in cm.</li>
                <li>The movable grip is moved at constant speed.</li>
                <li>Load and final elongation reading are noted at breaking of specimen with the help of load scale and Vernier calipers, respectively</li>

            </ul>

        </p>
        <h3>
            Calculations:
        </h3>
        <p>The following formulae are used for calculation of tensile strength and % elongation :-</p>
        <p>Tensile strength ( Kgf/cm<sup>2</sup>) =W / (b x t)</p>
        <p>W = Load in Kgf.<br>
            b =  Width in cm.<br>
            t =  Thickness in cm.<br>
            % Elongation = [ (L<sub>1</sub> - L<sub>0</sub>  )/ L<sub>0</sub>] x 100
</p>
<p>L<sub>0</sub> = Initial length of film between the grips in cm.<br>
    L<sub>1</sub> =Final length of film between the grips in cm.</p>
    <h3>Results: </h3>
    <p>The Tensile Strength of polymer sample is ------------- Kgf/cm<sup>2</sup> and Elongation at break is -----------%</p>
       
    </body>
</html>