<!DOCTYPE html>
<html>
    <body>
        <h1>EXPERIMENT NO. - 10</h1>
        <h2>Object: </h2>
        <p>Determination of polymer yield by microwave synthesizer</p>
        <h3>Specimen: </h3>
        <p>Polar monomers, initiators and modifiers</p>
        <h3>Scope: </h3>
        <p>Microwave ovens operate with electromagnetic nonionizing radiation with frequencies between 300 GHz and 300 MHz. The corresponding wavelengths span a range from 1 mm to 1 m, exhibiting the medial position of microwaves between infrared and radio waves. Most commercial microwave systems, however, utilize an irradiation with a frequency of 2 450 MHz (wavelength l ¼ 0.122 m) in order to avoid interferences with telecommunication devices. The corresponding electric fields oscillate 4.9  109 times per second and consequently subject dipolar species and ionic particles (as well as holes and electrons in semiconductors or metals) to perpetual reorientation cycles. This strong agitation leads to a fast noncontact heating that is (approximately) uniform throughout the radiation chamber.</p>
        <p>A large number of reactions, both organic and inorganic, undergo an immense increase in reaction speed under microwave irradiation compared with conventional heating. Apart from this main advantage, significant improvements in yield and selectivity have been observed as a consequence of the fast and direct heating of the reactants themselves. Furthermore, high-pressure synthesis is easily </p>
        <p>The main advantages of MW-assisted chemistry are shorter reaction times, higher yields, and a reduction of side reactions compared with syntheses performed under conventional heating. </p>
        <h3>Procedure:</h3>
        <p>
            <ul>
                <li>Take the flask of MW reacor</li>
                <li>Add the required quantities of monomers, initiator and moifiers</li>
                <li>Set the required conditions in the reactor and start the reaction</li>
                <li>Stop the reaction after set time period and convert them into dry polymer </li>
                <li>Determine the yield</li>

            </ul>
        </p>
        <h3>Result: </h3>
        <p>The percent yield of the MW synthesis is ----------------</p>
        

    </body>
</html>