<div class="body">
    <h1><strong>Experiment No. 2</strong></h1>
    <h3><strong>Object</strong></h3>
    <p>Determination of Vicat Softening Temperature of given plastic sample</p>
    <h3><strong>Equipment</strong></h3>
    <p>Vicat Softening Temperature Measuring Apparatus</p>
    <h3><strong>Specimen:</strong></h3>
    <p>Use at least two specimens to test each sample. The specimen shall be flat,between 3 and 6.5 mm thick, and at
        least 10 by 10 mm in area or 10 mm in diameter. When necessary to use multiple layers, no more than three layers
        of material may be stacked in order to achieve the minimum thickness. The specimens may be cut from sheet or
        molded material. </p>
    <h3><strong>Significance:</strong></h3>
    <p>The Vicat softening temperature is the temperature at which a flat-ended needle of 1mm2 penetrates the specimen
        to the depth of 1 mm under a specific load. The temperature reflects the point of softening to be expected when
        a material is used in an elevated temperature application. Data obtained by this test method may be used to
        compare the heat-softening qualities of thermoplastic materials. </p>
    <h3><strong>Procedure</strong>:</h3>
    <ul>
        <li>Polymer sheet samples of dimensions 3/4 inch. wide and 1/8 inch. thick are taken. Three specimens are
            necessary.</li>
        <li>The apparatus for testing Vicat Softening Point consists of a temperature regulated oil bath with flat ended
            needle penetrater so mounted as to register degree of penetration on a gauge.</li>
        <li>A specimen is placed in the testing apparatus so that penetrating needle rests on its surface at least 1mm
            from the edge</li>
        <li> A load of 10N or 50N is applied to the specimen</li>
        <li>The specimen is then lowered into an oil bath at 23 degrees C. </li>
        <li> The temperature on the bath is raised at the rate of 50<sup>0</sup>/ hr. or 120<sup>0</sup>/ hr</li>
        <li>The temperature at which the needle penetrates 1 mm is indicated on graduated scale of the apparatus and is
            considered as the Vicat Softening Point.</li>

    </ul>
    <h3><strong>Results: </strong></h3>
    <p>The Vicat Softening Temperature of given plastic sample is -------------<sup>0</sup>C </p>

    <h3 class="subHead"><strong>Videos</strong></h3>
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="720" height="400" src="https://www.youtube.com/embed/C4_nZr-CzTc" allowfullscreen
                frameborder="0"></iframe>
        </div>
    </div>
</div>