@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.body {
    margin: 30px;
    font-family: 'Kumbh Sans', sans-serif;
}

.content {
    left: 100px;
}

.subHead {
    margin-top: 5vh;
}

.row {
    justify-content: center;
}

.btn-border {
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
}