<body>
    <h1>EXPERIMENT NO. - 9</h1>
    <h2>Object: </h2>
    <p>Determination of viscosity of polymer by Brookefield viscometer</p>
    <h3>Specimen: </h3>
    <p>Concentrated polymer solution</p>
    <h3>Test Method: </h3>
    <p>ASTMD2196</p>
    <h3>Scope: </h3>
    <p>Brookfield viscosity usually refers to a viscosity measurement performed with a Brookfield Viscometer. The
        viscometer measures the resistance to rotation and reports a viscosity value. Various spindle designs can be
        employed, depending on the nature of the sample and the requirements</p>
    <p>Dip-in LV Spindles & RV Spindles</p>
    <p>Labelled as LV or RV spindle sets, these comprise simple shafts ending in a disk or cylinder. A sample of 400 -
        600ml in a suitable container is placed under the viscometer which is then lowered to dip the spindle into the
        sample up to an immersion mark on the spindle shaft. The dip-in spindle is suitable for comparative testing of
        the viscosity of free-flowing fluids.</p>
    <h3>Small Sample Adapter (SSA)</h3>
    <p>The Small Sample Adapter is a concentric cylinder measuring system, often know as a coaxial or "cup and bob"
        system. In the small sample adapter a small sample (typical only 5 - 10ml) is sheared between the moving inner
        cylinder and stationary outer cylinder or chamber. The accessory was, as its name suggests, originally designed
        for measuring samples of limited quantity however due to its fairly narrow clearances the system operates in a
        degree of defined shear - a valuable capability of you wish to perform viscosity / shear rate profiles on a
        sample.</p>
    <h3>PROCEDURE :</h3>

    <ul>
        <li>Check the spirit level of the viscometer everytime before use. The level is adjusted by using the two
            leveling screw on the base. Adjust so that the spirit level on top of the instrument is centered with in the
            circle.</li>
        <li>Ensure the calibration status is valid and turn the power switch located on the rear panel to the ‘ON’
            position.This will result in different screen displays and after a few seconds the screen displays remove
            spindle, press any key.</li>
        <li>After removing the spindle ( if attached to it ) and pressing any key, the instrument begins its auto zero.
            The screen will blink “AUTOZEROING”.
            After a few seconds, the blinking stops and the following is displayed REPLACE SPINDLE, PRESS ANY KEY,
            pressing any key at this point result is in the display of the instrument default screen.
        </li>
        <li>Connect the selected spindle to the viscometer by screwing them to the lower shaft. The lower shaft should
            be hold in one hand and lifted up and the spindle should be screwed to the left.</li>
        <li>+Spindles are identified by the number on the side of the spindle nut.
            The two digit entry code for the selected spindle should be entered by pressing the SELECT SPINDLE key, on
            pressing it once, the top line of the display will begin to blink.<br>
            Then press the UP or DOWN arrow keys for increasing or decreasing the number which is to the right of the
            ‘S’ character while ‘S’ is blinking, until the requirement spindle value is displayed.<br>
            The two digit entry code for each spindle is given below.<br>
            SPINDLE NUMBER 1 (LV1)
            TWO DIGIT CODE 61<br>
            SPINDLE NUMBER 2 (LV2)<br>
            TWO DIGIT CODE 62<br>
            SPINDLE NUMBER 3 (LV3)<br>
            TWO DIGIT CODE 63<br>
            SPINDLE NUMBER 4 (LV4)<br>
            TWO DIGIT CODE 64<br>

        </li>
        <li>Then press the SELECT SPINDLE key once again after selecting the desired spindle code. This will cause the
            ‘S’ character to cease blinking and the new spindle code will be displayed and accepted for use.</li>
        <li>Then select the speed for the spindle by first pressing either the UP or DOWN arrow keys, which will cause
            the area to the right of RPM (on the bottom line) to display the currently selected speed. If the arrow key
            is pressed just once and then released, the characters RPM will blink for a few seconds and then will cease
            blinking, resulting in no change to the speed entry.</li>
        <li>Press the UP or DOWN arrow key until the desired speed in displayed and then release it.
            Then press the AUTO RANGE key, which display the maximum calculated viscosity (full scale reading) which can
            be measured with the current spindle / speed setting.
            If the viscosity of the test fluid is greater than the AUTO RANGE displayed, then “ cP EEEE” and ‘%EEEE’
            will be displayed when operated with this test fluid.
        </li>
        <li>Change either the spindle or speed to achieve a maximum accuracy with the auto range.
            Pressing and holding the AUTO RANGE key during power on will enable the viscosity display tot he read cPs or
            m.pas. 1 cPs = 1milli pascal.
            Insert and center spindle in the test material until the fluid level is at the immersion groove in the
            spindle shaft. Press the MOTOR ON / OFF key once to turn the motor ON.
            Allow time for the indicated reading to stabilize. For maximum accuracy, readings below 10% torque must not
            be taken.
        </li>
        <li>Press the MOTOR ON / OFF key once again to turn the motor OFF when changing a spindle / speed or changing
            samples.</li>
        <li>Remove the spindle before cleaning and clean it after use. </li>
    </ul>
    <h3>Result: </h3>
    <p>The Brookefield viscocity of given polymer sample is--------</p>

</body>